{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Box-office{% endblock %}</h1>
    {% block css_style %}
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/box-office.css') }}">
        <script src="{{ url_for('static', filename='js/echarts-wordcloud.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/genoption.js') }}"></script>
    {% endblock %}
{% endblock %}


<!-- content Start -->
{% block content %}
    <el-main>
        <div class="box-main">
            <el-form class="box-form" ref="form" :model="form" >
                <el-form-item>
                    <el-collapse class="box-collapse" v-model="form.activeName"  accordion>
                        <el-collapse-item  title="票房占比" name="0">
                            <div class="block" style="margin-top: 10px">
                                <el-col :span="12" :offset="1">
                                    <span class="demonstration">时间：</span>
                                    <el-date-picker
                                            v-model="startm"
                                            align="right"
                                            type="month"
                                            placeholder="开始时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="startDatePicker">
                                    </el-date-picker>
                                    <el-date-picker
                                            v-model="endm"
                                            align="right"
                                            type="month"
                                            placeholder="结束时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="endDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="8">
                                    <span class="demonstration">图表类型：</span>
                                    <el-select v-model="chartType0" placeholder="请选择图表类型" name="0">
                                        <el-option
                                                v-for="item in opt0"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-button type="primary" v-on:click="submitRate">提交</el-button>
                            </div>
                            <div id="chartRate" style="width: 100%;height: 400px;"></div>
                        </el-collapse-item>

                        <el-collapse-item title="热门类别票房趋势" name="1">
                            <div class="block" style="margin-top: 10px">
                                <el-col :span="12" :offset="1">
                                    <span class="demonstration">时间：</span>
                                    <el-date-picker
                                            v-model="startm"
                                            align="right"
                                            type="month"
                                            placeholder="开始时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="startDatePicker">
                                    </el-date-picker>
                                    <el-date-picker
                                            v-model="endm"
                                            align="right"
                                            type="month"
                                            placeholder="结束时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="endDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="8">
                                    <span class="demonstration">图表类型：</span>
                                    <el-select v-model="chartType1" placeholder="请选择图表类型" name="1">
                                        <el-option
                                                v-for="item in opt1"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-button type="primary" v-on:click="submitTrend">提交</el-button>
                            </div>
                            <div id="chartTrend" style="width: 100%;height: 400px;"></div>
                        </el-collapse-item>

                        <!---->
                        <el-collapse-item  title="总票房同比" name="2">
                            <div class="block" style="margin-top: 10px">
                                <el-col :span="12" :offset="1">
                                    <span class="demonstration">时间：</span>
                                    <el-date-picker
                                            v-model="starty"
                                            align="right"
                                            type="year"
                                            placeholder="开始时间"
                                            value-format = "yyyy"
                                            :picker-options="startDatePicker">
                                    </el-date-picker>
                                    <el-date-picker
                                            v-model="endy"
                                            align="right"
                                            type="year"
                                            placeholder="结束时间"
                                            value-format = "yyyy"
                                            :picker-options="endDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="8">
                                    <span class="demonstration">图表类型：</span>
                                    <el-select v-model="chartType2" placeholder="请选择图表类型" name="2">
                                        <el-option
                                                v-for="item in opt1"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-button type="primary" v-on:click="submitYear">提交</el-button>
                            </div>
                            <div id="chartYear" style="width: 100%;height: 400px;"></div>
                        </el-collapse-item>
                

                    </el-collapse>
                </el-form-item>
            </el-form>
        </div>
    </el-main>
{% endblock %}
<!-- content End -->

<!-- script start -->
{% block mainvue %}
    <script>
        var app = new Vue({
            el: '#app',
            elimiters: ['{[', ']}'],
            data: {
                menuActive:'2',
                form:{
                    activeName: '0',
                },
                chartType0:'',//图表类型
                chartType1:'2',
                chartType2:'2',
                opt0: [{
                    value: '0',
                    label: '饼状图'
                }, {
                    value: '3',
                    label: '词云'
                }],
                opt1: [{
                    value: '2',
                    label: '折线图'
                }],
                startm: '',
                endm: '',
                starty: '2015',
                endy: '2018',
                resource: 'Hello',
                startDatePicker: '',
                endDatePicker: '',
                chartRate: '', 
                chartTrend: '',
                chartYear: '',

            },
            created: function(){
                this.startDatePicker = this.startDatePicker2()
                this.endDatePicker = this.endDatePicker2()
            },
            methods: {
                startDatePicker2: function(){
                    let self = this
                    return {
                        disabledDate(time){
                            let startDate = new Date(2015, 0)
                            if(self.endm){
                                return time.getTime() > new Date(self.endm).getTime() || time.getTime() < startDate
                            }
                            return time.getTime() < startDate//开始时间不选时，结束时间最大值小于等于当天
                        }
                    }
                },
                endDatePicker2: function(){
                    let self = this
                    return {
                        disabledDate(time){
                            let endDate = new Date(2018, 11)
                            if(self.startm){
                                return new Date(self.startm).getTime() > time.getTime() || time.getTime() > endDate
                            }else{
                                return time.getTime() > Date.now()//开始时间不选时，结束时间最大值小于等于当天
                            }
                        }
                    }
                },
                /////////////////////////////////票房占比//////////////////////////////////////////////////////////////////////////
                submitRate: function(){
                    if(!this.chartRate)
                        this.chartRate = echarts.init(document.getElementById('chartRate'));
                    if(!this.startm || !this.endm){
                        alert('请输入正确的起始日期')
                    }
                    axios.post('/resource', {
                        type: 2,
                        startm: this.startm,
                        endm: this.endm
                    })
                        .then(response => {
                            this.resource = response.data
                            title = {
                                        left: 'right',
                                        top: '80%',
                                        text: '票房占比 MovieNest',
                                        subtext: [this.startm,this.endm]
                                    }                       
                            if(this.chartType0 == '0'){    
                              
                              option = genOption_pie(this.resource, '票房', title)
                            }
                            else if(this.chartType0 == '3'){
                              option = genOption_wordCloud(this.resource, '票房')
                            }
                            this.chartRate.setOption(option, {
                                notMerge: true
                            })

                        }, response => {
                            console.log(response)
                        })
                },
                //////////////////////////////////////票房趋势/////////////////////////////////////////////////////////////////////
                submitTrend: function(){
                    if(!this.chartTrend)
                        this.chartTrend = echarts.init(document.getElementById('chartTrend'));

                    if(!this.startm || !this.endm){
                        alert('请输入正确的起始日期')
                    }
                    axios.post('/resource', {
                        type: 3,
                        startm: this.startm,
                        endm: this.endm
                    })
                        .then(response => {
                            this.resource = response.data
                            title = {
                                        left: 'right',
                                        top: '90%',
                                        text: '票房趋势 MovieNest',
                                        subtext: [this.startm,this.endm]
                                    } 
                            if(this.chartType1 == '2'){
                              option = genOption_line(this.resource, title)
                            }
                            this.chartTrend.setOption(option, {
                                notMerge: true
                            })
                        }, response => {
                            console.log(response)
                        })
                },
                /////////////////////////////////////总票房同比////////////////////////////////////////////////////////////////////
                submitYear: function(){
                    if(!this.chartYear)
                        this.chartYear = echarts.init(document.getElementById('chartYear'));

                    if(!this.starty || !this.endy){
                        alert('请输入正确的起始日期')
                    }
                    axios.post('/resource', {
                        type: 6,
                        startm: this.starty,
                        endm: this.endy,
                    })
                        .then(response => {
                            this.resource = response.data
                            title = {
                                        left: 'right',
                                        top: '90%',
                                        text: '总票房同比 MovieNest',
                                        subtext: [this.startm,this.endm]
                                    } 
                            if(this.chartType2 == '2'){
                              option = genOption_line(this.resource, title)
                            }
                            this.chartYear.setOption(option, {
                                notMerge: true
                            })
                        }, response => {
                            console.log(response)
                        })
                }
            }
        })
        
    </script>
{% endblock %}
<!-- script end -->

