{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} {% endblock %}</h1>
    {% block css_style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% endblock %}
{% endblock %}


<!-- content Start -->
{% block content %}
    <el-main>
        <div class="explore">
            <el-row style="font-family: Arial; font-size: 80px">电影,</el-row>
            <el-row style="font-family: Arial; font-size: 80px">你知道吗？</el-row>
            <el-row>
                <el-button type="primary" style="height:60px; width:160px; font-size:24px;" onclick="window.location.href='{{ url_for('movienest.box_office') }}'">开始探索</el-button>
            </el-row>
        </div>
    </el-main>
{% endblock %}
<!-- content End -->

<!-- script start -->
{% block mainvue %}
    <script>
        var main = new Vue({
            el: '#app',
            data: {
                menuActive:'1',
                selectedOptions: ['用户中心'],
                options: [{
                    value:'guanli',
                    label:'管理数据库',
                    children:[{
                        value: '2015',
                        label: '2015年'
                    },{
                        value: '2016',
                        label: '2016年'
                    },{
                        value: '2017',
                        label: '2017年'
                    },{
                        value: '2018',
                        label: '2018年'
                    }]
                },{
                    value:'zhuxiao',
                    label:'注销',
                }

                ]
            },
            // methods: {
            //     handleChange(value) {
            //         console.log(value);
            //     }
            // }
        })
    </script>
{% endblock %}
<!-- script end -->



