{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Rating{% endblock %}</h1>
    {% block css_style %}
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    {% endblock %}
{% endblock %}


<!-- content Start -->
{% block content %}
    <el-main>
        <div class="box-main">
            <el-form class="box-form" ref="form" :model="form" >
                <el-form-item>
                    <div>
                        <el-col :span="12" :offset="1">
                            <span class="demonstration">时间：</span>
                            <el-date-picker
                                    v-model="startm"
                                    align="right"
                                    type="month"
                                    placeholder="开始时间"
                                    value-format = "yyyy-MM"
                                    :picker-options="startDatePicker">
                            </el-date-picker>
                            <el-date-picker
                                    v-model="endm"
                                    align="right"
                                    type="month"
                                    placeholder="结束时间"
                                    value-format = "yyyy-MM"
                                    :picker-options="endDatePicker">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="8">
                            <span class="demonstration">影片类型</span>
                            <el-select v-model="value0" placeholder="请选择影片类型" name="0">
                                <el-option
                                        v-for="item in opt0"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-button type="primary" v-on:click="submitTop">提交</el-button>
                        </div>
                        
                       <div>
                           <el-table
                               :data="tableData"
                               stripe
                               border
                               style="width: 80%; left: 10%"
                               height="400px"
                               >
                               <el-table-column
                                 prop="rate"
                                 label="排名"
                                 width="180">
                               </el-table-column>
                               <el-table-column
                                 prop="name"
                                 label="电影名"
                                 width="180">
                               </el-table-column>
                               <el-table-column
                                 prop="grade"
                                 label="评分"
                                 width="180">
                               </el-table-column>
                               <el-table-column
                                 prop="time"
                                 label="上映时间">
                               </el-table-column>
                           </el-table>
                       </div>
                </el-form-item>
            </el-form>
        </div>
    </el-main>
{% endblock %}
<!-- content End -->

<!-- script start -->
{% block mainvue %}
    <script>
        var app = new Vue({
            el: '#app',
            elimiters: ['{[', ']}'],
            data: {
                menuActive:'4',
                form:{
                },
                value0:'',//影片类型
                opt0: [{
                    value: '0',
                    label: '所有类别'
                }, {
                    value: '1',
                    label: '动作片'
                }, {
                    value: '2',
                    label: '喜剧片'
                }, {
                    value: '3',
                    label: '冒险片'
                }, {
                    value: '4',
                    label: '剧情片'
                }, {
                    value: '5',
                    label: '爱情片'
                }],
                startm: '',
                endm: '',
                resource: 'Hello',
                startDatePicker: '',
                endDatePicker: '',
                tableData:'',

            },
            created: function(){
                this.startDatePicker = this.startDatePicker2()
                this.endDatePicker = this.endDatePicker2()
            },
            methods: {
                startDatePicker2: function(){
                    let self = this
                    return {
                        disabledDate(time){
                            let startDate = new Date(2015, 0)
                            if(self.endm){
                                return time.getTime() > new Date(self.endm).getTime() || time.getTime() < startDate
                            }
                            return time.getTime() < startDate//开始时间不选时，结束时间最大值小于等于当天
                        }
                    }
                },
                endDatePicker2: function(){
                    let self = this
                    return {
                        disabledDate(time){
                            let endDate = new Date(2018, 11)
                            if(self.startm){
                                return new Date(self.startm).getTime() > time.getTime() || time.getTime() > endDate
                            }else{
                                return time.getTime() > Date.now()//开始时间不选时，结束时间最大值小于等于当天
                            }
                        }
                    }
                },
                //////////////////////////////////////Top10电影////////////////////////////////////////////////////////
                submitTop: function(){
                    if(!this.startm || !this.endm){
                        alert('请输入正确的起始日期')
                    }
                    axios.post('/resource', {
                        type: 6,
                        startm: this.startm,
                        endm: this.endm
                    })
                        .then(response => {
                            ///////////////////////////////表格////////////////////////
                                this.tableData = []
                                for (prop in this.resource) {
                                      this.tableData.push({grade: this.resource[prop][1], name: this.resource[prop][0]})
                                    }
                                console.log(this.tableData)
                        }, response => {
                            console.log(response)
                        })
                },
                
                
            }
        })
    </script>
{% endblock %}
<!-- script end -->

