{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Racing{% endblock %}</h1>
    {% block css_style %}
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/box-office.css') }}">
    {% endblock %}
{% endblock %}


<!-- content Start -->
{% block content %}
    <el-main>
        <div class="box-main">

            <el-form class="box-form" ref="form" :model="form" >
                <el-form-item>
                    <el-collapse class="box-collapse" v-model="form.activeName"  accordion>
                        <el-collapse-item  title="Top10电影" name="2">


                            <div class="block" style="margin-top: 10px">
                                <el-col :span="12" :offset="1">
                                    <span class="demonstration">时间：</span>
                                    <el-date-picker
                                            v-model="startm"
                                            align="right"
                                            type="month"
                                            placeholder="开始时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="startDatePicker">
                                    </el-date-picker>
                                    <el-date-picker
                                            v-model="endm"
                                            align="right"
                                            type="month"
                                            placeholder="结束时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="endDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="8">
                                    <span class="demonstration">图表类型：</span>
                                    <el-select v-model="value" placeholder="请选择图表类型" name="1">
                                        <el-option
                                                v-for="item in opt2"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-button type="primary" v-on:click="submit()">提交</el-button>
                            </div>

                            <div id="plot1" style="width: 600px;height: 400px;"></div>

                        </el-collapse-item>
                        <el-collapse-item title="劳模演员" name="3">
                            <div class="block" style="margin-top: 10px">
                                <el-col :span="12" :offset="1">
                                    <span class="demonstration">时间：</span>
                                    <el-date-picker
                                            v-model="startm"
                                            align="right"
                                            type="month"
                                            placeholder="开始时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="startDatePicker">
                                    </el-date-picker>
                                    <el-date-picker
                                            v-model="endm"
                                            align="right"
                                            type="month"
                                            placeholder="结束时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="endDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="8">
                                    <span class="demonstration">图表类型：</span>
                                    <el-select v-model="value" placeholder="请选择图表类型" name="1">
                                        <el-option
                                                v-for="item in opt3"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-button type="primary" v-on:click="submit()">提交</el-button>
                            </div>

                            <div id="plot2" style="width: 600px;height: 400px;"></div>

                        </el-collapse-item>
                        <el-collapse-item title="搜索" name="4">
                            <div class="block" style="margin-top: 10px">
                                <el-col :span="12" :offset="1">
                                    <span class="demonstration">时间：</span>
                                    <el-date-picker
                                            v-model="startm"
                                            align="right"
                                            type="month"
                                            placeholder="开始时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="startDatePicker">
                                    </el-date-picker>
                                    <el-date-picker
                                            v-model="endm"
                                            align="right"
                                            type="month"
                                            placeholder="结束时间"
                                            value-format = "yyyy-MM"
                                            :picker-options="endDatePicker">
                                    </el-date-picker>
                                </el-col>

                                <el-button type="primary" v-on:click="submit()">提交</el-button>
                            </div>

                            <div id="plot3" style="width: 600px;height: 400px;"></div>

                        </el-collapse-item>
                    </el-collapse>
                </el-form-item>
            </el-form>
        </div>
    </el-main>
{% endblock %}
<!-- content End -->

<!-- script start -->
{% block mainvue %}
    <script type="text/javascript">
        app.myChart1 = echarts.init(document.getElementById('plot1'));
        app.myChart2 = echarts.init(document.getElementById('plot2'));
        app.myChart3 = echarts.init(document.getElementById('plot3'));
    </script>
    <script>
        var main = new Vue({
            el: '#app',
            elimiters: ['{[', ']}'],
            data: {
                menuActive:'3',
                form:{
                    activeName: '2',
                },
                value:'',
                opt2: [{
                    value: '0',
                    label: '饼状图'
                }, {
                    value: '1',
                    label: '柱状图'
                }, {
                    value: '3',
                    label: '词云'
                }],
                opt3: [{
                    value: '0',
                    label: '饼状图'
                }, {
                    value: '1',
                    label: '柱状图'
                }, {
                    value: '3',
                    label: '词云'
                }],

                startm: '',
                endm: '',
                resource: 'Hello',
                startDatePicker: '',
                endDatePicker: '',
                mychart1: '',
                mychart2: '',
                mychart3: ''
            },
            created: function(){
                this.startDatePicker = this.startDatePicker2()
                this.endDatePicker = this.endDatePicker2()
            },
            methods: {
                submit: function(){
                    if(!this.startm || !this.endm){
                        alert('请输入正确的起始日期')
                    }
                    axios.post('/resource', {
                        activename: this.form.activeName,
                        chartType: this.value,
                        startm: this.startm,
                        endm: this.endm
                    })
                        .then(response => {
                            this.resource = response.data
                            console.log('resource:' + this.resource)

                            console.log('Hello')
                            if(this.chartType == '0'){
                                console.log('Hello')
                                data = []
                                for (prop in this.resource) {
                                    data.push({value: this.resource[prop], name: prop})
                                }
                                console.log(data)
                                var option = {
                                    legend: {},
                                    xAxis: {},
                                    yAxis: {},
                                    series: [{
                                        name: '评分',
                                        type: 'pie',
                                        radius: '55%',
                                        data: data
                                    }]
                                }
                            }
                            // else if(this.chartType == '1'){
                            //   xAxis = this.resource[0]
                            //   data = this.resource[1]
                            //   legend = []
                            //   series = []
                            //   for (prop in data) {
                            //     legend.push(prop)
                            //     series.push({
                            //       name: prop,
                            //       type: 'bar',
                            //       data: data[prop]
                            //     })
                            //   }
                            //   console.log(xAxis)
                            //   console.log(series)
                            //   var option = {
                            //     legend: {
                            //       data: legend
                            //     },
                            //     xAxis: {
                            //       data: xAxis
                            //     },
                            //     yAxis: {},
                            //     series: series
                            //   };
                            // }
                            else if(this.chartType == '2'){
                                xAxis = this.resource[0]
                                data = this.resource[1]
                                legend = []
                                series = []
                                for (prop in data) {
                                    legend.push(prop)
                                    series.push({
                                        name: prop,
                                        type: 'line',
                                        data: data[prop]
                                    })
                                }
                                console.log(xAxis)
                                console.log(series)
                                var option = {
                                    legend: {
                                        data: legend
                                    },
                                    xAxis: {
                                        data: xAxis
                                    },
                                    yAxis: {},
                                    series: series
                                };
                            }
                            // else if(this.chartType == '3'){
                            //   data = []
                            //   for (prop in this.resource) {
                            //     data.push({value: this.resource[prop], name: prop})
                            //   }
                            //   console.log(data)
                            //   var option = {

                            //     series: [{
                            //       name: '评分',
                            //       type: 'wordCloud',
                            //       gridSize: 2,
                            //       sizeRange: [12, 50],
                            //       rotationRange: [-90, 90],
                            //       shape: 'pentagon',
                            //       textStyle: {
                            //           normal: {
                            //               color: function () {
                            //                   return 'rgb(' + [
                            //                           Math.round(Math.random() * 255),
                            //                           Math.round(Math.random() * 255),
                            //                           Math.round(Math.random() * 255)
                            //                       ].join(',') + ')';
                            //               }
                            //           },
                            //           emphasis: {
                            //               shadowBlur: 10,
                            //               shadowColor: '#333'
                            //           }
                            //         },

                            //       data: data
                            //     }]
                            //   }
                            // }
                            // else(this.chartType == '4'){
                            //   xAxis = this.resource[0]
                            //   data = this.resource[1]
                            //   legend = []
                            //   series = []
                            //   for (prop in data) {
                            //     legend.push(prop)
                            //     series.push({
                            //       name: prop,
                            //       type: 'line',
                            //       data: data[prop]
                            //     })
                            //   }
                            //   console.log(xAxis)
                            //   console.log(series)
                            //   var option = {
                            //     legend: {
                            //       data: legend
                            //     },
                            //     xAxis: {
                            //       data: xAxis
                            //     },
                            //     yAxis: {},
                            //     series: series
                            //   };
                            // }
                            this.myChart.setOption(option);
                            //this.$set('resource', response.data)
                        }, response => {
                            console.log(response)
                        })
                },
                startDatePicker2: function(){
                    let self = this
                    return {
                        disabledDate(time){
                            let startDate = new Date(2015, 0)
                            if(self.endm){
                                return time.getTime() > new Date(self.endm).getTime() || time.getTime() < startDate
                            }
                            return time.getTime() < startDate//开始时间不选时，结束时间最大值小于等于当天
                        }
                    }
                },
                endDatePicker2: function(){
                    let self = this
                    return {
                        disabledDate(time){
                            let endDate = new Date(2018, 11)
                            if(self.startm){
                                return new Date(self.startm).getTime() > time.getTime() || time.getTime() > endDate
                            }else{
                                return time.getTime() > Date.now()//开始时间不选时，结束时间最大值小于等于当天
                            }
                        }
                    }
                }
            }
        })
    </script>
{% endblock %}
<!-- script end -->

