{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Rating{% endblock %}</h1>
    {% block css_style %}
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    {% endblock %}
{% endblock %}


<!-- content Start -->
{% block content %}
    <el-main>
        <div class="box-main">
            <el-form class="box-form" ref="form" :model="form" >
                <el-form-item>
                    <div>
                        <el-col :span="6" :offset="1">
                            <span class="demonstration">搜索类型：</span>
                            <el-select v-model="value0" placeholder="请选择图表类型" name="0">
                                <el-option
                                        v-for="item in opt0"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="13">
                            <el-input placeholder="请输入关键词" v-model=input></el-input>  
                        </el-col>
                        <el-button type="primary" v-on:click="submitTop">提交</el-button>
                    </div>
                    <div>
                        <el-table
                            :data="tableData"
                            stripe
                            border
                            style="width: 80%; left: 10%"
                            height="400px"
                            >
                            <el-table-column
                              prop="rate"
                              label="排名"
                              width="180">
                            </el-table-column>
                            <el-table-column
                              prop="name"
                              label="电影名"
                              width="180">
                            </el-table-column>
                            <el-table-column
                              prop="grade"
                              label="评分"
                              width="180">
                            </el-table-column>
                            <el-table-column
                              prop="time"
                              label="上映时间">
                            </el-table-column>
                          </el-table>
                      </div>
                </el-form-item>
            </el-form>
        </div>
    </el-main>
{% endblock %}
<!-- content End -->

<!-- script start -->
{% block mainvue %}
    <script>
        var app = new Vue({
            el: '#app',
            elimiters: ['{[', ']}'],
            data: {
                menuActive:'5',
                form:{
                },
                value0:'',//搜索类型
                opt0: [{
                    value: '0',
                    label: '所有类别'
                }, {
                    value: '1',
                    label: '电影名'
                }, {
                    value: '2',
                    label: '导演'
                }, {
                    value: '3',
                    label: '演员'
                }, {
                    value: '4',
                    label: 'xxxx'
                }],
                resource: 'Hello',
                tableData:'',
                input: ''
            },
            methods: {
                submitTop: function(){
                    axios.post('/resource', {
                        type: 7,
                    })
                        .then(response => {
                            console.log(response)
                            this.resource = response.data
                            ///////////////////////////////表格////////////////////////
                                this.tableData = []
                                for (prop in this.resource) {
                                      this.tableData.push({grade: this.resource[prop][1], name: this.resource[prop][0]})
                                    }
                                console.log(this.tableData)
                        }, response => {
                            console.log(response)
                        })
                },
            }
        })
    </script>
{% endblock %}
<!-- script end -->

